* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: #252525;
  --white: #ffffff;
  --cream: #f4f2f3;
  --pink: #eb4a7b;
  --light-pink: #fd6a9a;
  --ligth-gray2: #3a342f;
  --black: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-family: "Roboto Serif", sans-serif;
}

section {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

figure {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

button {
  width: 25vw;
  border-radius: 44px;
  padding: 23px;
  border: none;
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 15px;
}

header {
  height: 10vh;
  background-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;
  width: 10vw;
}

.logo h2 {
  color: var(--white);
  font-size: 18px;
}

.logo img {
  width: 2.1rem;
  height: 2.1rem;
  margin-right: 10px;
}

header nav {
  width: 15vw;
  display: flex;
  justify-content: space-around;
}

.first-section {
  background-image: url("../img/cachorroChapeu.png");
  flex-direction: column;
  height: 90vh;
}

.first-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

.first-section h1 {
  text-align: center;
  font-size: 50px;
  width: 50%;
  color: var(--white);
}

.first-section img {
  width: 10vw;
  margin-top: 60px;
}

.second-section {
  height: 100vh;
  background-image: url("../img/cachorroTouca.png");
  align-items: center;
  justify-content: flex-start;
}

.second-section h2 {
  font-family: "Roboto Serif", sans-serif;
  font-size: 3rem;
}

.second-section p {
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  line-height: 45px;
}

.second-section button {
  color: var(--cream);
  background-color: var(--ligth-gray2);
}

.second-section div {
  margin-left: 25px;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.third-section {
  height: 100vh;
  background-image: url("../img/cachorro-preto-laranja.png");
  align-items: center;
  justify-content: flex-end;
}

.third-section div {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--white);
}

.third-section h2 {
  font-size: 3rem;
  color: var(--white);
}

.third-section p {
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  line-height: 45px;
  line-height: 45px;
}

.third-section button {
  color: var(--black);
  background-color: var(--white);
}

.fourth-section {
  background-color: var(--white);
  height: 15vh;
  justify-content: space-evenly;
  align-items: center;
}

.fourth-section p {
  color: var(--light-pink);
  font-size: 24px;
  font-family: "Roboto Serif", sans-serif;
}

footer {
  background-color: var(--pink);
  color: var(--white);
}

footer h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

footer li {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 10px 0;
}

.nav-footer {
  width: 70vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35vh;
}

.logo-mobile,
.nav-mobile {
  display: none;
}

/*Mobile*/
@media (max-width: 500px) {
  button {
    font-size: 18px;
    width: 50vw;
  }

  /*Header*/
  .hiden {
    display: none;
  }

  .logo {
    width: 40vw;
  }

  .logo img {
    width: 2.5rem;
    height: 2.5rem;
  }

  header nav > img {
    width: 2.2rem;
    height: 2.2rem;
  }

  /*Main*/
  .first-section {
    background-image: url("../img/cachorroChapeuMobile.png");
    height: 90vh;
  }

  .first-section h1 {
    font-size: 24px;
    width: 80%;
  }

  .first-section div {
    margin-top: 10vh;
  }

  .first-section img {
    width: 30vw;
  }

  .second-section {
    background-image: url("../img/cachorroToucaMobile.png");
    align-items: flex-start;
  }

  .second-section h2 {
    font-size: 24px;
  }

  .second-section div {
    width: 90vw;
    align-items: flex-start;
    margin-top: 20px;
  }

  .second-section p {
    font-size: 20px;
    line-height: 30px;
  }

  .third-section {
    background-image: url("../img/cachorro-preto-laranja-mobile.png");
    align-items: flex-start;
    justify-content: flex-start;
  }

  .third-section h2 {
    font-size: 30px;
  }

  .third-section p {
    font-size: 20px;
    line-height: 30px;
  }

  .third-section div {
    width: 90vw;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
  }

  .fourth-section {
    flex-direction: column;
    height: 20vh;
  }

  .fourth-section p {
    font-size: 20px;
  }

  .fourth-section img {
    margin: 10px 15px;
  }

  .nav-footer {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
  }

  .logo-mobile {
    display: flex;
    margin-top: 25px;
  }

  .logo-mobile img {
    width: 15vw;
    margin-right: 10px;
  }

  .nav-mobile {
    display: flex;
  }

  .nav-mobile img {
    margin: 0 10px;
  }
}

@media (min-width: 1200px) {
  .second-section p,
  .third-section p {
    width: 35vw;
  }
}
